# Dependencies
frontend/node_modules

# Build outputs
frontend/dist
frontend/dist-ssr

# Environment files
frontend/.env
frontend/*.local

# Logs
frontend/logs
frontend/*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
